body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ff74ca;
  border-left: 1px solid black;
  padding: 10px;
}

/* .jumbotron {
  text-align: center;
  background-color: transparent;
  color: #ff74ca;
  border-radius: 0;
  border-bottom: 10px solid black;
} */

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  /* height: 80px; */
  /* border-top: 1px solid white; */
}

.hour {
  background-color: transparent;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #bb8eaa;
  color: white;
}

.present {
  background-color: #ff74ca;
  color: white;
}

.future {
  background-color: #b8f5b8;
  color: white;
}

.saveBtn {
  font-size: 25px;
  border-color: unset;
  /* OMG I FIXED IT THIS IS BEAUTIFUL */
  border-style: none outset outset none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ff74ca;
  color: white;
  padding: 20px 40px;
}

.saveBtn i:hover {
  font-size: 28px;
  transition: all 0.1s ease-in-out;
}

#foot {
  text-align: center;
}

#please {
  color: #ff74ca;
  text-decoration: none;
  text-align: justify;
}

.input-group-prepend {
  font-size: 25px;
  border-width: 2px;
  border-right: 1px solid transparent;
  border-style: none none outset outset;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ff74ca;
  padding: 20px 40px;
  text-shadow: 1px 2px 4px #8c3069;
}

.input-group-text {
  border: none;
}

.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:focus {
  outline: none;
  background-color: #eb58b2;
}

/* text-area:focus {
  border-style: none;
} */

.form-control:focus {
  box-shadow: none;
  border-color: #ff74ca;
}
