body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ff74ca;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #ff74ca54;
  color: #2b0e20;
  border-radius: 0;
}

.display-3 {
  text-shadow: 2px 3px 5px #8c3069;
}

.description {
  white-space: pre-wrap;
}
.time-block {
  text-align: center;
  border-radius: 15px;
}
.row {
  white-space: pre-wrap;
}
.hour {
  background-color: transparent;
  color: #000000;
  border-top: 1px dashed #000000;
}
.past {
  background-color: #f7a6d8;
  color: white;
}
.present {
  background-color: #ffffff;
  color: white;
}
.future {
  background-color: #c7fac7;
  color: white;
}
.saveBtn {
  font-size: 25px;
  border-color: unset;
  border-style: none outset outset none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ff74ca;
  color: white;
  padding: 20px 40px;
}
.saveBtn:hover {
  font-size: 28px;
  transition: all 0.1s ease-in-out;
  outline: none;
  background-color: #eb58b2;
}
.saveBtn:focus {
  outline: none;
}
#foot {
  text-align: center;
}
#please {
  color: #ff74ca;
  text-decoration: none;
  text-align: justify;
}
.input-group-prepend {
  font-size: 25px;
  border-width: 2px;
  border-right: 1px solid transparent;
  border-style: none none outset outset;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ff74ca;
  padding: 20px 40px;
  text-shadow: 1px 2px 4px #8c3069;
}
.input-group-text {
  border: none;
}
.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: unset;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ff74ca;
}
